<?xml version="1.0" encoding="UTF-8"?>
 <suite name="nopcommerce Regression Suite">
    <test name="Regression Test" preserve-order="true">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="tests.UserRegistrationTest"/>
            <class name="tests.MyAccountTest"/>
            <class name="tests.ProductReviewTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.SearchUsingAutocompleteTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.HoverMainMenuTest"/>
            <class name="tests.EmailFriendTest"/>
            <class name="tests.ContactUsTest"/>
            <class name="tests.CompareProductTest"/>
            <class name="tests.CheckoutForRegisteredUserTest"/>
            <class name="tests.ChangeCurrencyTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.AddProductToWishListTest"/>

        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->